<div class="show-container">
  <div class="header">
    <input id="nearest-cb" type="checkbox" [(ngModel)]="nearest" (ngModelChange)="updatePersonsList()">
    <label style="margin-left: 4px" for="nearest-cb">Show nearest</label>
  </div>
  <div *ngIf="showList" class="birthdays-list">
    <person-element *ngFor="let person of persons" [person]="person" (onChanged)="updatePersonsList()"></person-element>
  </div>
</div>
