<div class="pe-container"
  [class.bd-near]="person.isNear"
  [class.bd-today]="person.isToday"
  [class.bd-past]="person.isPast">
  <div class="photo-section">
    <div class="pe-img">
      <img [src]="photo" alt="Nine">
    </div>
  </div>
  <div class="data-section">
    <p>{{person.name}}</p>
    <p>{{person.birthday}}</p>
    <div class="function-btn">
      <button [routerLink]="['edit', person.id.toString()]">
        <img src="../assets/pencil-square.svg" aria-hidden="true">
      </button>
      <button (click)="removePerson(person.id)">
        <img src="../assets/x-square.svg" aria-hidden="true">
      </button>
    </div>
  </div>
</div>
