.pe-container {
  width: 80%;
  height: 100%;
  min-height: 80px;
  min-width: 400px;
  margin: 15px 10px 15px 10px;
  border-radius: 5px;
  background-color: #adadad;

  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
}

.photo-section {
}

.photo-section .pe-img {
  max-width: 100px;
  /*max-height: 100px;*/
  /*margin: 5px;*/
}

.photo-section .pe-img img {
  width: 100%;
  height: auto;
}

.bd-today {
  background-color: #00ff1c;
}

.bd-near {
  background-color: #1700ff;
}

.bd-past {
  background-color: #ff0003;
}

.function-btn {
  position: relative;
  bottom: 85%;
  left: 85%;
}

/*.function-btn button {*/
/*  width: 16px;*/
/*  height: 16px;*/
/*}*/
