<div class="app-container">
  <header>
    <nav style="width: 100%" class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
      <div class="container-fluid">
        <a routerLink="" class="navbar-brand">Congratulater</a>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
          <ul class="navbar-nav flex-grow-1">
            <li class="nav-item d-flex flex-row">
              <a routerLink="" class="nav-link text-dark">Главная</a>
              <a routerLink="/create" class="nav-link text-dark">Создать</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <div class="app-body">
    <div class="center-screen">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
