.app-container {
  width: 100vw;
  min-height: 100vh;
}

header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.app-body {
  width: 100vw;
  min-height: 700px;
  display: flex;
  justify-content: center;
}

.center-screen {
  width: 50%;

}
