<div class="a-container">
  <div class="mb-3">
    <input type="text" [(ngModel)]="name" class="form-control">
  </div>
  <div class="mb-3">
    <input [(ngModel)]="date" type="date" class="form-control">
  </div>
  <div class="mb-3">
    <input (change)="onFileChange(file.files!)" #file type="file" class="form-file-input">
  </div>
  <div class="mb-3">
    <input (click)="sendData()" type="submit" class="btn btn-primary">
  </div>
</div>
